<button (click)="clearAll()" class="btn btn-outline-danger mt-3 mb-2 ms-auto d-block">Clear Cart</button>
<div *ngFor="let product of cartproducts, let i = index" class="row shadow border-2 py-2 my-4">
  <div class="col-md-1">
    <img class="w-100" [src]="product.product.imageCover" alt="">
  </div>
  <div class="col-md-11 d-flex justify-content-between">
    <div class="d-flex flex-column align-items-start">
      <h3 mt-1>{{product.product.title.split(" ").splice(0,2).join(" ")}}</h3>
      <h5 class="my-3">{{product.product.category.name}}</h5>
      <span>{{product.price | currency: 'EGP '}}</span>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-between">
      <button (click)="removeProductFromCart(product.product._id)" class="mt-1"><i class="fas fa-trash"></i> Remove</button>
      <div>
        <button #btn1 class="btn bg-main text-white mx-2" (click)="updateCart(product.product._id, product.count - 1, btn1, btn2)">-</button>
        <span class="my-2">{{product.count}}</span>
        <button #btn2 class="btn bg-main text-white mx-2" (click)="updateCart(product.product._id, product.count + 1, btn1, btn2)">+</button>
      </div>
      <span>{{product.product.ratingsAverage+" "}}<i class="fas fa-star" style="color: yellow;"></i></span>
    </div>
  </div>
</div>

<h1 *ngIf="(errorMessage || cartproducts.length == 0)&& !isLoading" class="alert alert-danger text-center">No Products in your Cart</h1>

<span class="h5 d-block ms-auto py-2 fw-bold">Total Price : {{totalCartPrice | currency: 'EGP '}}</span>

<button [routerLink]='"/checkout/"+ cartId' *ngIf="cartproducts.length != 0" class="btn btn-outline-danger d-block m-auto my-4">ChecK Out</button>
