<footer class="bottom-0 left-0 top-100 w-100">
  <div class="container m-auto py-2">
    <h1>Get the FreshCart app</h1>
    <p>We will send you a link, open it on your phone to download the app</p>
    <div class="row inputin d-flex justify-content-between gap-2">
      <input type="email" value="" placeholder="Email" class="col-lg-8 col-md-12 rounded-2">
      <button class="btn btn-danger col-lg-3 col-md-12">Share App Link</button>
    </div>
    <hr>
    <div class="payment">
      <p class="fw-bold">Payment Partners</p>
      <div class="d-flex justify-content-start mt-4">
        <i class="fa-brands fa-cc-mastercard fa-xl me-3" style="color: #000000;"></i>
        <i class="fa-brands fa-paypal fa-xl me-3" style="color: #111212;"></i>
        <i class="fa-brands fa-google-pay fa-xl me-3" style="color: #121212;"></i>
        <i class="fa-brands fa-cc-visa fa-xl me-3" style="color: #0c0d0d;"></i>
        <i class="fa-brands fa-bitcoin fa-xl" style="color: #0c0d0d;"></i>
      </div>
    </div>
    <hr>
  </div>
</footer>
