<footer class="bottom-0 left-0 top-100 w-100">
  <div class="container m-auto py-2">
    <h1>Get the FreshCart app</h1>
    <p>We will send you a link, open it on your phone to download the app</p>
    <div class="inputin d-flex justify-content-between">
      <input type="email" value="" placeholder="Email" class="form-control">
      <button class="btn btn-danger">Share App Link</button>
    </div>
    <hr>
    <div class="payment">
      <p>Payment Partners</p>
    </div>
    <hr>
  </div>
</footer>
