
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul li {
  list-style: none;
}

.badge {
  bottom: 20px;
  left: 18px;
}

.navbar {
  z-index: 500;
  left: 0;
  right: 0;
}

.icons {
  width: 35%;
}
